

.chart {
    height: 18em;
}

.check {
    height: 2.5em;
    width: 2.5em;
    border-color: lightgrey;
    border-width: 1px;
}

.check:hover {
    border-color: grey;
}

#red::-webkit-slider-thumb {
    background-color: red;
}

#green::-webkit-slider-thumb {
    background-color: green;
}

#blue::-webkit-slider-thumb {
    background-color: blue;
}

.slider {
    min-width: 320px;
}

#button {
    max-width: 100px;
}

@media (max-width: 575.98px) {
    table {
        font-size: smaller;
    }
    #inner-table tr td {
        padding: 0.1rem;
    }
}

@media (max-width: 449.98px) {
    table {
        font-size: xx-small;
    }
    .check {
        height: 2em;
        width: 2em;
    }
    .slider {
        min-width: 300px;
    }
}

@media (min-width: 768px) {
    #ip {
        max-width: 130px;
    }
    
    #port {
        max-width: 70px;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightblue;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightblue;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: lightblue;
  }

  .form-control-plaintext {
    border-width: 0;
  }

  .fa-bars {
    font-size:20px;
  }

